/* Add your CSS to this file */
/* The default font family for the landing page should be -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif and the default font size should be 18px */ 

html{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
    padding:2%;
}

/* The header should have a background color of white. And the font size for the text should be 18px. */
header h1{
    background-color: white;
    font-size: 18px;
    display: inline;
}

.container nav{
    display: inline;
    margin: 0;
    background-color:white;
    font-size: 18px;
    float: right;
}

.container ul{
    list-style: none;
    display: inline;
    align-self: right;
    padding-left: 11px;
}

.container li{
    display: inline;
    padding-left: 11px;
    float: right;
}

/* The navigation links should have a color of #6b7280 
   but when you hover over the links, the color should change yo #5A67D8*/

a:link{
    color: #6B7280;
}

a:hover{
    color: #5A67D8;
} 

body {
    margin: 0;
    font-size: 16px;
}

.overview-hero{
    padding:2%;
    text-align: left;
    background-color:#E2E8F0;
}

.overview-hero-image{
        float: left;
}
.learn-about .container .cards{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-column-gap: 10px;
}  