/* Add your CSS to this file */
/* The default font family for the landing page should be -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif and the default font size should be 18px */ 

html{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
    padding:2%;
}

/* The header should have a background color of white. And the font size for the text should be 18px. */
header h1{
    background-color: white;
    font-size: 18px;
    display: inline;
}

.container nav{
    display: inline;
    margin: 0;
    background-color:white;
    font-size: 18px;
    float: right;
}

.container ul{
    list-style: none;
    display: inline;
    align-self: right;
    padding-left: 11px;
}

.container li{
    display: inline;
    padding-left: 11px;
    float: right;
}

/* The navigation links should have a color of #6b7280 
   but when you hover over the links, the color should change yo #5A67D8*/

a:link{
    color: #6B7280;
}

a:hover{
    color: #5A67D8;
} 

body {
    margin: 0;
    font-size: 16px;
}

.overview-hero{
    padding:5%;
    text-align: left;
    background-color:#E2E8F0;
}

.overview-hero-image{
        float: left;
}

.learn-about h2{
    font-size: 24px;
    color: #4ABB78;
}
.learn-about .container .cards{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-column-gap: 0px;
margin: 5px 5px;
align-self: auto;
padding-left:1%;
padding-right:1%;
padding-bottom:1%;
}  

.learn-about .container .card{
    border: 2px solid;
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 2px 2px;
    width: 250px;
    padding: 10px;
    margin-top: 90px;
}

.learn-about .container .cards h3{
color: #4ABB78;
font-size: 21px;
}

.learn-about {
    padding-top: 20px;
    padding-bottom: 80px;
}

/* For the COVID-19 Testing section, the background colour should be #4A5568 and
   the text colour should be white. The link to "Learn More" should have a
   background colour of #48BB78 and rounded corners of 5px. */

.testing{
    background-color: #4A5568;
    color: white;
    padding: 5%;
}

.testing a{
    background-color: #48BB78;
    color: white;
    display: block;
    padding: 10px 10px;
    text-align: center;
    width: 100px;
    border-radius: 5px;
}

/* For the "Recent Stories" main heading and the links to "Read this Story"
   should have the colour #5A67D8. The title for each story should be 18px in size */
   
.stories .container{
    display: flex;
    flex-direction: column;
    padding: 5%;
    border: 1px;
}
.stories img {
    border-radius: 50%;
    padding: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.stories h2{
    color: #5A67D8;
    justify-content: flex-start;
    margin-right: auto;
}

.stories a{
    color: #5A67D8;
    font-weight: bold;
    text-decoration: none;
}

.stories h3{
       font-size: 18px;
   }

.article {
    display: flex;
    flex-direction: row;
}

.stories article{
    display: flex;
    flex-direction: row;
}

.stories .article-body {
    float: right;
    padding-left: 10px;
    flex-wrap: wrap;
}
